version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: auth_pg
    restart: always
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata_auth:/var/lib/postgresql/data

volumes:
  pgdata_auth:
